<section class="menupage">
    <div class="menuheaders">
    <h2>Welcome to Hotel Cappadocia</h2>
    <h4>We serve food that stays in your mind<br>longer than your stomach</h4>
</div>
    
<div class="food-menu">
        <!-- Breakfast -->
<div class="breafast">
    <h3>Breakfast</h3>
    <div class="menu_item item1">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Coffee</p>
                <p class="price">100</p>
            </div>
        </div>
    </div>
    
    
    <div class="menu_item item2">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Tea</p>                    
                <p class="price">100</p>
            </div>
        </div>
    </div>
    
    <div class="menu_item item3">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Black Coffee</p>
                <p class="price">50</p>
            </div>
        </div>
    </div>
    
    <div class="menu_item item4">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Mandazi</p>
                <p class="price">30</p>
            </div>
        </div>
    </div>
    
    <div class="menu_item item5">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Fried Toast</p>
                <p class="price">50</p>
            </div>
        </div>
    </div>
    
    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Omelette</p>
                <p class="price">70</p>
            </div>
        </div>
    </div>
</div>

<div class="menu_item item6">
    <div class="text">
        <div class="foodtype_price">
            <p class="foodtype">Chapati</p>
            <p class="price">50</p>
        </div>
    </div>
</div>


    <!-- Meals -->
<div class="Meals">
<h3 class="h3">Lunch & Dinner</h3>
    <div class="menu_item item1">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Pilau</p>
                <p class="price">150</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">chapati</p>
                <p class="price">50</p>
            </div>
        </div>
    </div>
            
    <div class="menu_item item2">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">1/2 Chicken Kienyeji</p>
                <p class="price">650</p>
            </div>
        </div>
    </div>
        
    <div class="menu_item item3">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Full Chicken Kienyeji</p>
                <p class="price">1200</p>
            </div>
        </div>
    </div>
        
    <div class="menu_item item4">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Rice</p>
                <p class="price">100</p>
            </div>
        </div>
    </div>
        
    <div class="menu_item item5">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Fries/Chips</p>
                <p class="price">100</p>
            </div>
        </div>
    </div>
        
    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">1/4KG Beef Fry</p>
                <p class="price">180</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">1/2KG Beef Fry</p>
                <p class="price">350</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">1KG Beef Fry</p>
                <p class="price">180</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Ugali</p>
                <p class="price">50</p>
            </div>
        </div>
    </div>
</div>

<!-- Drinks -->
<div class="Drinks">
<h3 class="h3">Soft Drinks</h3>
    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">300ML Soda</p>
                <p class="price">50</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">1.25L Soda</p>
                <p class="price">200</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">2L Soda</p>
                <p class="price">250</p>
            </div>
        </div>
    </div>
    
    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">300ML Minute Maid</p>
                <p class="price">80</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">1L Minute Maid</p>
                <p class="price">300</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">1L Delmonte</p>
                <p class="price">300</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Red Bull</p>
                <p class="price">250</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Powerhouse</p>
                <p class="price">250</p>
            </div>
        </div>
    </div>

    <h3 class="h3">Beer</h3>
    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">All Beers</p>
                <p class="price">200</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Beer Can</p>
                <p class="price">250</p>
            </div>
        </div>
    </div>

<h3 class="h3">Wines, Vodka & Whiskey</h3>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Cellar Cask</p>
                <p class="price">1200</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Four Cousins</p>
                <p class="price">1200</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">JW Red Label</p>
                <p class="price">2500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Gilbeys</p>
                <p class="price">1500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">500ML Gilbeys</p>
                <p class="price">800</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">250ML Gilbeys</p>
                <p class="price">500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Richot</p>
                <p class="price">1500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">500ML Richot</p>
                <p class="price">800</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">250ML Richot</p>
                <p class="price">500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Black & White</p>
                <p class="price">1500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">500ML Black & White</p>
                <p class="price">800</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Baileys</p>
                <p class="price">2600</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">375ML Baileys</p>
                <p class="price">400</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">William Lawson</p>
                <p class="price">1800</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">Iris</p>
                <p class="price">1800</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Viceroy</p>
                <p class="price">1500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">500ML Viceroy</p>
                <p class="price">800</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">250ML Viceroy</p>
                <p class="price">500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Smirnoff</p>
                <p class="price">1500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">500ML Smirnoff</p>
                <p class="price">800</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">250ML Smirnoff</p>
                <p class="price">500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Kenya Cane</p>
                <p class="price">1000</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">750ML Kenya Cane</p>
                <p class="price">1000</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">500ML Kenya Cane</p>
                <p class="price">500</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">250ML Kenya Cane</p>
                <p class="price">350</p>
            </div>
        </div>
    </div>

    <div class="menu_item item6">
        <div class="text">
            <div class="foodtype_price">
                <p class="foodtype">250ML Chrome</p>
                <p class="price">250</p>
            </div>
        </div>
    </div>
</div>
<h4 class="h4">And So Much More!</h4>
</div>